body {
    background-image: url("Dark-Website-Background-wallpaper-1369643.jpg");
    background-size: cover;
}

.mafia-logo {
    margin-top: 100px;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.mafia-logo2 {
    margin-right: auto;
    margin-top: 30px;
    width: 250px;
    height: 250px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.goback {
    width: auto;
    margin-top: 15px;
    margin-left: 5px;
    position: absolute;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.photos {
    display: flex;
}


input, button{
    margin: auto;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    background: #f5f5f5;
    width: 220px;
    display: block;

}

label {
    margin: 10px 0 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: whitesmoke;
}

input {
    margin: 5px 0 10px 0;
    padding: 5px;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
}

button {
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #efffff;
    border-radius: 10px;
    background: black;
    font-size: 15px;
    color: white;
    display: block;
}

button:hover{
    background: darkred;
}