body {
    background-image: url("Dark-Website-Background-wallpaper-1369643.jpg");
    background-size: cover;
}

.mafia-logo {
    margin-top: 100px;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.mafia-logo2 {
    margin-right: auto;
    margin-top: 30px;
    width: 250px;
    height: 250px;
}

.profile_photo {
    margin-right: auto;
    margin-top: -60px;
    border-radius: 80px;
    width: 115px;
    height: 115px;
}

.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.photos {
    display: flex;
}


.prof_input, .photo_button {
    margin: auto;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    background: grey;
    display: block;
}

#log_label {
    margin: 10px 0 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: whitesmoke;
}

.prof_input {
    padding: 5px;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 3px;
    width: 45%;
}

.info {
    display: flex;
    margin-left: 70px;
    width: 30%;
}

.info > label {
    width: 20%;
}

.photo_button {
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #efffff;
    border-radius: 10px;
    background: black;
    width: auto;
    font-size: 15px;
    color: white;
    display: block;
}

button:hover{
    background: darkred;
}
